<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="/css/custom.css" rel="stylesheet" type='text/css'>
 
</head>
<body>
  <h2 class="nameTable"> Table of users  </h2>
  <table class="table table-bordered table-hover">
    <tr class = "firstRow">
        <th> id </th>
        <th> First Name </th>
        <th> Last Name </th>
        <th> age </th>
        <th> action </th>
    </tr>
    <tr>
     <% for(var i=0; i<quotes.length; i++) {%>
        <td><%= [i+1] %></td>
        <td><%= quotes[i].name %></td>
        <td><%= quotes[i].quote %></td>
        <td><%= quotes[i].age %></td>
        <td class="delEdit">
        <button  class="btn btn-warning btn-sm" >  <span class="delete" id="<%= quotes[i].quote %>" >Delete</span></button>
        </td>
    </tr>
  <% } %>
  </table>

<a href="#spoiler-open-1" id="spoiler-open-1" class="trigger open"><span  class="btn btn-success ">Add</span></a>
<a href="#spoiler-close-1" id="spoiler-close-1" class="trigger close"><span  class="btn btn-success">Close</span></a>
<div class="spoiler">
  <form action="/quotes" method="POST" class="form-inline" >
    <div class="form-group">
    <input type="text" class="form-control" placeholder="First Name" name="name" >
  </div>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="Last Name" name="quote" required>
  </div>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="age" name="age">
  </div>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit</button>
  </form>
  </div>
 <script src="main.js"></script>
</body>
</html>